/* base */
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 2em;
    min-height: 100vh;
}
.main{
    background-image: url("../image/background2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100vh; */
    /* background-color: #00a8ff; */
    min-height: 100vh;
}

.banner{
    background-color: #00486b;
    color:white;
}

.full_use{
    min-height: 100vh;
    max-height: 300vh;
}


@media screen and (min-width: 900px) {
    /* game */
    .game_button > a{
        width:80%;
        max-width: 500px;
        border:1px solid #ccc;
        border-radius: 15px;
        background-color: #00486b;
        color: white;
    }

    .game_button > a:hover , .game_button > a:active{
        background-color: #00486b;
        color:white;
    }

    .options input[type='radio'] + label{
        width:80%;
        display: inline-block;
        padding:10px;
        margin:5px;
        border:1px solid #ccc;
        border-radius: 15px;
        background-color: white;
        color: white;

        background-color: #00a8ff;
    }

    .options input[type='radio']:checked + label {
        background-color: #00486b;
        color: white;
    }

    .all_options{
        display: flex;
    }
    .options{
        max-width: 50%;
    }
    .options > label{
        width: 100%;
        max-width: 500px;
    }
    .promote_top{
        width:100%;
    }
    /* result */
    .promote > img{
        border-radius: 15px;
        max-width: 500px;
        margin:0 auto;
    }

    .promote a{
        width: 60%;
        margin:10px;
        padding:10px;

        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: white;
        color:#00a8ff;
    }

    .alert_container{
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        z-index: 10;
    }
    .alert_background{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.782);
        top:0;
        bottom:0;
        left:0;
        right:0;

        z-index: 10;
    }
    .alert_box{
        width:80%;
        max-width:800px;
        min-height:30vh;
        border-radius: 10px;
        background-color: white;
        z-index: 15;
    }
    .alert_button{
        margin:10px;
        color:white;
        background-color: #00486b;
        padding:10px;
        border-radius: 10px;
        min-width: 60%;
    }
    .alert_button:hover{
        cursor: pointer;
        color: #00486b;
        background-color: white;
        border: 1px solid #00486b;
    }
    .alert_button:active{
        color: #00486b;
        background-color: white;
        border: 1px solid #00486b;
    }
    footer{
        position: fixed;
        bottom: 0;
    }
    /* footer */
}
/* for mobile */
@media screen and (max-width: 900px) {
    /* game */
    .game_button > a{
        width:80%;
        max-width: 500px;
        border:1px solid #ccc;
        border-radius: 15px;
        background-color: #00486b;
        color: white;
    }

    .game_button > a:hover , .game_button > a:active{
        background-color: #00486b;
        color:white;
    }

    .options input[type='radio'] + label{
        width:80%;
        max-width: 500px;
        display: inline-block;
        padding:10px;
        margin:5px;
        border:1px solid #ccc;
        border-radius: 15px;
        background-color: white;
        color: white;

        background-color: #00a8ff;
    }

    .options input[type='radio']:checked + label {
        background-color: #00486b;
        color: white;
    }

    /* result */
    .promote > img{
        border-radius: 15px;
    }

    .promote a{
        width: 60%;
        margin:10px;
        padding:10px;

        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: white;
        color:#00a8ff;
    }
    .alert_container{
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        z-index: 10;
    }
    .alert_background{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.782);
        top:0;
        bottom:0;
        left:0;
        right:0;

        z-index: 10;
    }
    .alert_box{
        width:80%;
        min-height:30vh;
        border-radius: 10px;
        background-color: white;
        z-index: 15;
    }
    .alert_button{
        margin:10px;
        color:white;
        background-color: #00486b;
        padding:10px;
        border-radius: 10px;
        min-width: 60%;
    }
    .alert_button:hover{
        cursor: pointer;
        color: #00486b;
        background-color: white;
        border: 1px solid #00486b;
    }
    .alert_button:active{
        color: #00486b;
        background-color: white;
        border: 1px solid #00486b;
    }

}
